/AIAgentPOC/AIAgentPOC/bin
/AIAgentPOC/AIAgentPOC/obj
/AIAgentPOC/.vs/AIAgentPOC/FileContentIndex
/AIAgentPOC/.vs/AIAgentPOC/v17
/AIAgentPOC/.vs/AIAgentPOC/DesignTimeBuild
/AIAgentPOC/.vs/AIAgentPOC/config
/AIAgentPOC/.vs/ProjectEvaluation
/AIAgentPOC/.vs/AIAgentPOC/CopilotIndices
/AIAgentPOC/AIAgentLib/bin
/AIAgentPOC/AIAgentLib/obj
/AIAgentPOC/.vs/AIAgentPOC/copilot-chat
/AIAgentPOC/CommonLib/bin
/AIAgentPOC/CommonLib/obj
/SemanticKernelMCPPOC/MCPServer/obj
/SemanticKernelMCPPOC/MCPServer/bin
/SemanticKernelMCPPOC/MCPClient/obj
/SemanticKernelMCPPOC/MCPClient/bin
/SemanticKernelMCPPOC/.vs/SemanticKernelMCPPOC/FileContentIndex
/SemanticKernelMCPPOC/.vs/SemanticKernelMCPPOC/CopilotIndices
/SemanticKernelMCPPOC/.vs/SemanticKernelMCPPOC/copilot-chat
/SemanticKernelMCPPOC/.vs/SemanticKernelMCPPOC/DesignTimeBuild
/SemanticKernelMCPPOC/.vs/SemanticKernelMCPPOC/v17
